<%- include('partials/header') %>
    <!-- Banner Area Starts -->
    <section class="banner-area"
        style="background: url(images/withdrawal_header_bg.jpg);background-size: cover;background-position: center center;background-repeat: no-repeat;">
        <div class="banner-overlay">
            <div class="banner-text text-center">
                <div class="container">
                    <!-- Section Title Starts -->
                    <div class="row text-center">
                        <div class="col-xs-12">
                            <!-- Title Starts -->
                            <h2 class="title-head">FAQs</h2>
                            <!-- Title Ends -->

                        </div>
                    </div>
                    <!-- Section Title Ends -->
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area Ends -->
    <!-- Section FAQ Starts -->
    <section class="faq">
        <div class="container">
            <div class="row">
                <p style="text-align: center;color: #B8B8B8;margin-bottom: 5%;">Within these pages, we've meticulously
                    outlined the nuanced functionalities of Sweep Trade. Should your curiosity extend beyond the
                    contours of this information, we welcome you to initiate a dialogue using the contact particulars at
                    your disposal.</p>
                <div class="col-xs-12 col-md-8">
                    <!-- Panel Group Starts -->
                    <div class="panel-group" id="accordion" style="background: #1D1D1D;">
                        <!-- Panel Starts -->
                        <div class="panel panel-default">
                            <!-- Panel Heading Starts -->
                            <div class="panel-heading">
                                <h4 class="panel-title">

                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        Q1.&nbsp;&nbsp; What is the process for acquiring a package?
                                    </a>
                                </h4>
                            </div>
                            <!-- Panel Heading Ends -->
                            <!-- Panel Content Starts -->
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body" style="background: #111111">Commencing an investment package is
                                    straightforward. After registering and logging in, access your dashboard, where
                                    you'll discover the <strong>'INVESTMENT PACKAGES'</strong> section. Simply select
                                    from the available packages, click the purchase button, complete the payment
                                    process, and you're ready to commence.</div>
                            </div>
                            <!-- Panel Content Starts -->
                        </div>
                        <!-- Panel Ends -->
                        <!-- Panel Starts -->
                        <div class="panel panel-default">
                            <!-- Panel Heading Starts -->
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapse2">
                                        Q2. How does the platform derive its earnings?</a>
                                </h4>
                            </div>
                            <!-- Panel Heading Ends -->
                            <!-- Panel Content Starts -->
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body" style="background: #111111">Sweep Trade achieves financial gains
                                    by strategically orchestrating trades in the Top 10 cryptocurrencies. The platform
                                    leverages the cutting-edge prowess of its AI-driven trading bot, executing
                                    sophisticated strategies that excel in the intricacies of arbitrage trading, thereby
                                    optimizing profitability.</div>
                            </div>
                            <!-- Panel Content Starts -->
                        </div>
                        <!-- Panel Ends -->
                        <!-- Panel Starts -->
                        <div class="panel panel-default">
                            <!-- Panel Heading Starts -->
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapse3">
                                        Q3. Status of my withdrawal?</a>
                                </h4>
                            </div>
                            <!-- Panel Heading Ends -->
                            <!-- Panel Content Starts -->
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body" style="background: #111111">You can monitor the status of your
                                    withdrawal in your back office by navigating to the respective Wallet section. Here,
                                    it will be displayed as either 'Pending,' 'Approved' (along with the transaction
                                    hash), or 'Rejected.' Please note that users are not permitted to withdraw until
                                    they have completed their KYC verification.</div>
                            </div>
                            <!-- Panel Content Starts -->
                        </div>
                        <!-- Panel Ends -->
                        <!-- Panel Starts -->
                        <div class="panel panel-default">
                            <!-- Panel Heading Starts -->
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapse4">

                                        Q4. I made an error in the amount sent while acquiring a package?</a>
                                </h4>
                            </div>
                            <!-- Panel Heading Ends -->
                            <!-- Panel Content Starts -->
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body" style="background: #111111">If an incorrect amount was
                                    transmitted during the purchase of your package, automatic activation of your
                                    account will not occur. Kindly contact our support department at <a
                                        href="mailto:sweeptrades@gmail.com">sweeptrades@gmail.com</a>,
                                    ensuring inclusion of a screenshot of your payment, TX Hash, Username, and the
                                    specific package you intended to acquire.</div>
                            </div>
                            <!-- Panel Content Starts -->
                        </div>
                        <!-- Panel Ends -->
                        <!-- Panel Starts -->
                        <div class="panel panel-default">
                            <!-- Panel Heading Starts -->
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapse5">
                                        Q5. What is the maximum earning potential in this platform?</a>
                                </h4>
                            </div>
                            <!-- Panel Heading Ends -->
                            <!-- Panel Content Starts -->
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body" style="background: #111111">You have the opportunity to achieve
                                    a maximum return of 300% on your initial investment. Upon reaching this limit, your
                                    package will expire, requiring reinvestment to continue earning.</div>
                            </div>
                            <!-- Panel Content Starts -->
                        </div>
                        <!-- Panel Ends -->
                        <!-- Panel Starts -->
                        <div class="panel panel-default">
                            <!-- Panel Heading Starts -->
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapse6">
                                        Q6. What is the procedure for enhancing or upgrading my current package?</a>
                                </h4>
                            </div>
                            <!-- Panel Heading Ends -->
                            <!-- Panel Content Starts -->
                            <div id="collapse6" class="panel-collapse collapse">
                                <div class="panel-body" style="background: #111111">Upgrade options are available
                                    exclusively through the complete payment of your existing plan or by opting for the
                                    next higher-tier plan</div>
                            </div>
                            <!-- Panel Content Starts -->
                        </div>
                        <!-- Panel Ends -->
                        <!-- Panel Starts -->
                        <div class="panel panel-default">
                            <!-- Panel Heading Starts -->
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapse7">
                                        Q7. How can I initiate a withdrawal for my earnings?</a>
                                </h4>
                            </div>
                            <!-- Panel Heading Ends -->
                            <!-- Panel Content Starts -->
                            <div id="collapse7" class="panel-collapse collapse">
                                <div class="panel-body" style="background: #111111">To initiate a withdrawal, log in and
                                    access your dashboard, ensuring a valid Bitcoin Address is on record. Moreover,
                                    complete your KYC verification promptly to avoid any potential fines associated with
                                    withdrawal processes.</div>
                            </div>
                            <!-- Panel Content Starts -->
                        </div>
                        <!-- Panel Ends -->

                        <!-- Panel Starts -->
                        <div class="panel panel-default">
                            <!-- Panel Heading Starts -->
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapse8">
                                        Q8. Who are the proprietors?</a>
                                </h4>
                            </div>
                            <!-- Panel Heading Ends -->
                            <!-- Panel Content Starts -->
                            <div id="collapse8" class="panel-collapse collapse">
                                <div class="panel-body" style="background: #111111">We are a consortium of experienced
                                    business professionals with expertise in network marketing and traditional finance.
                                    Originating from the UK and the USA, we collectively hold ownership of Sweep Trade.
                                    No individual has exclusive ownership of the company.</div>
                            </div>
                            <!-- Panel Content Starts -->
                        </div>
                        <!-- Panel Ends -->
                    </div>
                    <!-- Panel Group Ends -->
                </div>
                <!-- Sidebar Starts -->

                <!-- Sidebar Ends -->
            </div>
        </div>
    </section>
    <!-- Section FAQ Ends -->

    <%- include('partials/footer') %>